<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="MemberDao">
   <select id="idCheckOfMember" resultType="int" parameterType="String">
     select count(*) from smember where id=#{id}
   </select>
   <select id="getAllOfMem" resultType="memdto">
        select * from smember order by num asc
    </select>

    <!-- 전체 갯수 얻기 -->
    <select id="totalCountOfMem" resultType="int">
        select count(*) from smember
    </select>
	
	<insert id="insertOfMem" parameterType="memdto">
	  insert into smember (name,id,pass, hp, gaipday) values (#{name},#{id},#{pass}, #{hp},now())
	</insert>
	<!-- 수정 -->
	<select id="selectOneOfMember" parameterType="String" resultType="memdto">
		select * from smember where num=#{num}
	</select>
	<select id="passCheckOfMember" parameterType="HashMap" resultType="int">
		select count(*) from smember where num=#{num} and pass=#{pass}
	</select>
	<update id="updateOfMember" parameterType="memdto">
		update smember set name=#{name},hp=#{hp} where num=#{num}
	</update>
	<delete id="deleteOfMember" parameterType="String">
		delete from smember where num=#{num}
	</delete>
 </mapper>